body {
    background-color: rgb(48, 117, 182);
    text-align: center;
}

h1 {
    font-size: 4em;
}

#conteudo {
    background-color: rgb(255, 255, 255);
    box-shadow: 0 0 25px 25px rgba(0, 0, 0, 0.75);  
    width: 600px;
    height: 500px;
    border-radius: 10%;
    margin: auto;
    padding: 10px;
}

#msg p{
    margin-bottom: 20px;
}

p {
    font-size: 2em;
}

#foto img{
    border-radius: 50%;
    width: 400px;
    height: 400px;
}